{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Listado de pacientes</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container-fluid">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Documento</th>
					<th>Nombres y Apellidos</th>
					<th>Telefono</th>
					<th>Dirección</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for paciente in object_list %}
				<tr>
					<td>{{paciente.numero_Documento}}</td>
					<td>{{paciente.primer_Nombre}} {{paciente.segundo_Nombre}} {{paciente.primer_Apellido}} {{paciente.segundo_Apellido}}</td>
					<td>{{paciente.telefono}}</td>
					<td>{{paciente.direccion}}</td>
					<td class="clearfix">
						<a class="btn btn-primary btn-xs">Ver</a>
						<a class="btn btn-success btn-xs">Modificar</a>
						<a class="btn btn-danger btn-xs">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>